# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
.venv
venv
env

# IDE
.idea
.vscode
*.swp
*.swo

# Local Airflow files (use container's)
airflow_home/airflow.db
airflow_home/airflow.cfg
airflow_home/webserver_config.py
airflow_home/logs/*

# Other
*.log
.DS_Store
*.md



